body {
  margin: 0;
  padding: 0;
  background-color: #0F141B;
}


.container {
  margin: 0 auto;
  max-width: 660px;
  overflow-x: hidden;
}

.selector-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2em auto 1em auto;
    padding: 1em;
}

#color-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 660px;
}

#color {
    height: 3.5em;
    width: 5em;
    border: 0;
    border-radius: 5px;
}

#schemes {
    width: 15em;
    border-radius: 5px;
    height: 4em;
    background-color: #1F293A;
    color: #d8d8d8;
}

#quantity {
    height: 3.8em;
    background-color: #1F293A;
    color: #d8d8d8;
    border-radius: 5px;
    text-align: center;
}

.color-btn {
    background-color: #3f3f3f;
    color: #d8d8d8;
    padding: 1.5em 3em;
    border: 0;
    border-radius: 5px;
}

.colors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 660px;
  padding: 0 3em;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colors {
  height: 550px;
  width: 110px;
}

.color-codes {
  display: flex;
  flex-direction: column;
  width: 110px;
  text-align: center;
  background-color: #1c1c1c;
  color: white;
}
